* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0 0 40);
}

strong {
  color: hsl(160 100% 30%);
}

.max-width-wrapper {
  max-width: 800px;
  margin-inline: auto;
}

header {
  background-color: hsl(0 0% 100%);
}

header p {
  max-width: 336px;
}

.title {
  margin-bottom: 32px;
}

.intro-chunk {
  padding: 64px 24px 32px;
}

main {
  border-top: 8px solid hsl(0 0% 60%);
}

.card {
  margin-top: 24px;
  background-color: hsl(0 0% 100%);
  border-bottom: 8px solid hsl(0 0% 60%);
  padding: 24px;
}

.indented-heading {
  background-color: #FFBF00;
  border-bottom: 8px solid #CC9900;
  margin-top: -16px;
  margin-left: -32px;
  font-size: 1.25rem;
  padding: 12px 18px;
  width: fit-content;
}